/* Dashboard marketplaces panels */
.mrkv_uamrkpl_panel {
	margin: 15px 0;
}
.mrkv_uamrkpl_panel {
	background: #fff;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.blank-block {
	height: 15px;
}

/* Rozetka nav links */
.mrkvuamp-nav-links {
	display: flex;
    flex-direction: row;
	> li {
		margin-right: 50px;
		a {
			padding: 5px;
			text-decoration: none;
		}
		&.active {
			a {
	    		color: #23282d;
				text-decoration: underline;
			}
		}
	}
}
.mrkvuamp-nav-links-content {
	> .link-pane {
		float: left;
		width: 100%;
		display: none;
	}
	> .link-pane.active {
		display: block;
	}
}

/* Rozetka main configurations*/
.mrkv-font-italic {
	font-style: italic;
}
.blinking-message {
	animation: blink 2s infinite; /* Параметры анимации */
}
@keyframes blink {
	from { opacity: 1; /* Непрозрачный текст */ }
	to { opacity: 0; /* Прозрачный текст */ }
}

/* Rozetka show hierarchical categories */
.mrkv-uamp-hierarchical-categories li ul li {
	margin-left: 25px;
}
.mrkv-uamp-hierarchical-categories {
	li {
		margin-bottom: 6px;
		label {
			font-weight: 600;
    		display: inline-block;
			width: 300px;
		}
		input {
			margin-bottom: 10px;
		}
	}
}

/* Last xml-file link */
.mrkvuamp_collation_xml_link,
.mrkvuamp_promua_xml_link {
	background-color: #fff;
	padding: 1px;
	max-width: 570px;
	form p {
		padding-left: 10px;
	}
}

/* Class to desable button-primary 'Співставити' */
.mrkv_uamrkpl_collation_btn_desabled {
	margin-right: 10px;
	color: #a0a5aa !important;
	background: #f7f7f7 !important;
	border-color: #ddd !important;
	box-shadow: none !important;
	text-shadow: none !important;
	&:hover {
		cursor: default;
	}
}

/* Remove toolbar from 'Опис товарів' editor textarea setting */
#qt_mrkvuamp_description_editor_id_toolbar {
	display: none;
}

/* `{Marketplace} Variation ID, Image URL` fields on a variation dropdown settings Edit Product admin page */
label[for^="mrkvuamp_rozetka_variation_image"] + .woocommerce-help-tip, 		// Rozetka Variation Image URL
label[for^="mrkvuamp_promua_variation_image"] + .woocommerce-help-tip {			// PromUA Variation Image URL
	float: right;
}
.mrkvuamp-full-width { // {Marketplace} Variation Image URL width
	width: 100% !important;
}

/* Rozetka Quick Edit */
.column-mrkvuamp_rozetka_title,
.column-mrkvuamp_rozetka_cat_id,
.column-mrkvuamp_promua_title {
	width: 11%;
}
